<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Update Time</title>
	</head>
	<body>

		<h2>Update Time</h2>

		<p4>The time will be updated to {{ newTime }}</p4>
		<p4>Timezone will be set to {{ newTz }}</p4>

	</body>
</html>
